<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--定义别名，一下这种写法就代表着，你的类名就是你的别名了-->
    <typeAliases>
        <package name="com.xuexi.settings.domain"/>
    </typeAliases>

    <!--mapper文件映射的位置-->
    <mappers>
        <package name="com.xuexi.settings.mapper"/>
    </mappers>
</configuration>